body {
    margin: 0;
    background: linear-gradient(to right, #f3f4f6, #e0e5ec);
    font-family: 'Arial', sans-serif;
    color: #333;
}

.heading {
    color: #2c3e50;
    text-align: center;
    padding: 20px;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.info-text {
    text-align: center;
    color: #34495e;
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 20px;
}

.app {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 30px;
}

.note {
    padding: 20px;
    border-radius: 12px;
    resize: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    min-height: 150px;
    color: #333;
    border: none;
    outline: none;
    background: #ffffff;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.note::placeholder {
    color: #aaa;
}

.note:hover,
.note:focus {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background-color: #f9f9f9;
}

.btn {
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 4rem;
    min-height: 150px;
    border: none;
    color: lightslategray;
    background: aliceblue;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: rgb(175, 207, 235);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}
